.required:after {
  content: " *";
  color: red;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.bg-facebook {
  background-color: #3b5998;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-google {
  background-color: #ea4335;
}

.bg-instagram {
  background-color: #e1306c;
}

.bs-cover {
  background-size: cover;
}

.r-0 {
  right: 0;
}

.mw-180 {
  max-width: 180px;
}

.mw-140 {
  max-width: 140px;
}

.i-va {
  vertical-align: -0.125em;
}

.breadcrumb {
  padding: 0.5rem 1rem;
  background-color: #e9ecef;
}

.accordion-icon-button {
  display: flex;
  border-radius: inherit;
}

.accordion-icon-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2016%2016'%20fill%3D'%23%7B%24accordion-icon-color%7D'%3E%3Cpath%20fill-rule%3D'evenodd'%20d%3D'M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'%2F%3E%3C%2Fsvg%3E");
  transform: rotate(-180deg);
  background-position-y: center;
}

.accordion-icon-button::after {
  flex-shrink: 0;
  background-position-y: center;
  width: 20px;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2016%2016'%20fill%3D'%23%7B%24accordion-icon-active-color%7D'%3E%3Cpath%20fill-rule%3D'evenodd'%20d%3D'M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-icon-button.collapsed {
  border-bottom: none;
}

.product_card{
  display: flex;
  flex-direction: column;
  height: 376px;
  width: 241px;
  border-radius: 15px;
}


.product_card .top_card{
  background-color: #EF3749;
  height: 45%;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.top_card .product_image{
  position: absolute;
  top: -2.5rem;
  left: 50%;
  width: 220px;
  height: auto;
  transform: rotate(-8deg) translateX(-50%);
  z-index: 2;
}

.top_card .product_price {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  bottom: .25rem;
  right: .75rem;
}

.product_card .bottom_card{
  background-color: white;
  height: 55%;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.bottom_card .product_name{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: 1.2rem;
}

.bottom_card .product_name h6{
  color: #D9D9D9;
}

.bottom_card .product_description p{
  text-align: center;
  font-size: 9px;
  color: #7C7C7C;
  font-weight: 400;
}

.bottom_card .product_description{
  max-width: 75%;
  margin: auto;
  margin-top: 1rem;
}

.bottom_card .cta_add_to_cart{
  position: absolute;
  bottom: 1.5rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #EF3749;
  color: white;
  border-radius: 200px;
  outline: none;
  border: none;
  padding: .45rem;
  font-size: 10px;
  cursor: pointer
}


.container_product_card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}